@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow-y: scroll;
    height: 100vh; 
    margin-bottom: 0;
    overflow-x: hidden;
} */

container {
    width: 100vw;
    height: 80vh; 
}

login-container {
    width: 90%; 
    max-width: 425px;
    min-height: 400px; 
    padding-bottom: 0;
    background-color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5F155A; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    margin-top: 90px;
    margin-bottom: 10px; 
    border-top: 15px solid #D457D2;
}


h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #D457D2;
    margin: 0; 
    margin-bottom: 20px;
}


p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    color: #5B5B5B;
    margin: 0; 
    margin-bottom: 10px;
}


.borda-imagem {
    margin-top: -100px;
    margin-bottom: 10px;
    width: 150px; 
    height: auto;
}
.login-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.forgot-password {
    margin-left: auto;
}


button {
    width: 186px; 
    height: 33px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #D457D2; 
    color: #ffffff; 
    cursor: pointer;
    margin-top: auto; 
}

button[type='submit'] {
    margin-bottom: 10px;
    margin-top: auto; 
    display: flex;
    justify-content: center; 
}
signup-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: center; 
    margin-top: 15px; 
}

.signup {
    text-decoration: none;
    color: gray;
    margin-bottom: 0;
    margin-bottom: 15px;
}

.signup strong {
    font-weight: bold;
    margin-bottom: 0;
}

.signup:hover {
    text-decoration: underline;
    color: #D457D2; 
    margin-bottom: 0;
}



