.container {
    max-width: 525px;
    width: 100vw;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5F155A;
    padding: 15px;
    border-top: 25px solid #D457D2;
}

.logo-container {
    height: 70px;
    position: relative;
    top: -115px;
}

.logo {
    margin: auto;
    display: block;
    width: 150px;
}
  
  /* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo {
        width: 100px;
        
    }
    .logo-container {
        top: -85px;
    }
}