.container {
    max-width: 759px;
    width: calc(100vw - 40px);
    background-color: #D457D2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5F155A;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-inline: 30px;
}

.logo-container {
    position: relative;
    z-index: 2;
    top: 44px;
}

.logo {
    margin: auto;
    display: block;
    width: 350px;
}

.icon {
    margin: 2px 0;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        width: calc(100vw - 40px);
    }

    .logo {
        width: 250px;
    }

    .logo-container {
        top: 34px;
    }
}

.round-image {
  min-height: 350px;
  border-radius: 50%; /* Ensures the image is displayed as a circle */
  object-fit: cover; /* Maintain aspect ratio */
}

@media (max-width: 640px) {
    .logo-container {
        top: 34px;
    }
}

@media (max-width: 360px) {
    .logo-container {
        top: 34px;
    }
}