
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
    height: calc(100vh - 71px);
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px !important; 
} 


h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #D457D2;
    margin: 0; 
}

.input-row input {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

.input-row3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 100%;
    
}
.input-row4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 100%;
    margin-bottom:5px ;
    
}

.checkboxLabel {
    margin-left: 8px;
}
  
.customLabel {
    font-family: "Roboto", sans-serif;
}

  @media (max-width: 768px) {
    h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #D457D2;
        margin: 0; 
        margin-bottom: 0 !important; 
    }

    .container {
        margin-top: 50px;
        height: calc(100vh);
    } 
}