.body {
    background: #F1F1F1 !important;
}

.container {
    height: 509px; 
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden; 
}


@media (max-width: 850px) {
    .container {
        padding-bottom: 30px;
        height: 100vh; 
        flex-direction: column;
        overflow-y: hidden;
        padding-top: 25px;
        margin-top: 30px;
    } 

   
}