.container {
    height: calc(100vh - 71px);
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.bold {
    font-weight: bold;
    color:#D457D2;
  }

.input-row {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.input-row input {
    width: 100%;
}



.forgot-password {
    margin-top: auto;
    margin-left: auto;
}



.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
  }
  