/* body {
    background-color: #f0f0f0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
    margin-top: 0;
} */
.bold {
    font-weight: bold;
    color:#D457D2;
  }

.input-row {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.input-row input {
    width: 100%;
}



.forgot-password {
    margin-top: auto;
    margin-left: auto;
}

.signup-link2 {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 70%;
    text-align: right , !important; /* Alinha o texto à direita */
}

.signup2 {
    text-decoration: none;
    color: #D457D2; 
    margin-bottom: 0;
}

.signup2:hover {
    text-decoration: underline;
    color: gray;
    margin-bottom: 0;
}
